<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lecar.freecar.mapper.demo.TransportTruckInputMapper">
  <resultMap id="BaseResultMap" type="com.lecar.freecar.model.demo.TransportTruckInput">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TEMPLATE_CODE" jdbcType="VARCHAR" property="templateCode" />
    <result column="COL_NAME" jdbcType="VARCHAR" property="colName" />
    <result column="COL_EXPR" jdbcType="VARCHAR" property="colExpr" />
    <result column="STAT_FLAG" jdbcType="DECIMAL" property="statFlag" />
    <result column="USER_FLAG" jdbcType="DECIMAL" property="userFlag" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
    <result column="ORDERBY" jdbcType="DECIMAL" property="orderby" />
    <result column="SHOW_FLAG" jdbcType="DECIMAL" property="showFlag" />
    <result column="SHOW_ORDERBY" jdbcType="DECIMAL" property="showOrderby" />
    <result column="COL_CODE" jdbcType="VARCHAR" property="colCode" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TEMPLATE_CODE, COL_NAME, COL_EXPR, STAT_FLAG, USER_FLAG, DEL_FLAG, ORDERBY, SHOW_FLAG, 
    SHOW_ORDERBY, COL_CODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_AUTH_SYS_QUERY_TEMPLATE_COLS
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from T_AUTH_SYS_QUERY_TEMPLATE_COLS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.lecar.freecar.model.demo.TransportTruckInput">
    insert into T_AUTH_SYS_QUERY_TEMPLATE_COLS (ID, TEMPLATE_CODE, COL_NAME, 
      COL_EXPR, STAT_FLAG, USER_FLAG, 
      DEL_FLAG, ORDERBY, SHOW_FLAG, 
      SHOW_ORDERBY, COL_CODE)
    values (#{id,jdbcType=DECIMAL}, #{templateCode,jdbcType=VARCHAR}, #{colName,jdbcType=VARCHAR}, 
      #{colExpr,jdbcType=VARCHAR}, #{statFlag,jdbcType=DECIMAL}, #{userFlag,jdbcType=DECIMAL}, 
      #{delFlag,jdbcType=DECIMAL}, #{orderby,jdbcType=DECIMAL}, #{showFlag,jdbcType=DECIMAL}, 
      #{showOrderby,jdbcType=DECIMAL}, #{colCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lecar.freecar.model.demo.TransportTruckInput">
    insert into T_AUTH_SYS_QUERY_TEMPLATE_COLS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="templateCode != null">
        TEMPLATE_CODE,
      </if>
      <if test="colName != null">
        COL_NAME,
      </if>
      <if test="colExpr != null">
        COL_EXPR,
      </if>
      <if test="statFlag != null">
        STAT_FLAG,
      </if>
      <if test="userFlag != null">
        USER_FLAG,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
      <if test="orderby != null">
        ORDERBY,
      </if>
      <if test="showFlag != null">
        SHOW_FLAG,
      </if>
      <if test="showOrderby != null">
        SHOW_ORDERBY,
      </if>
      <if test="colCode != null">
        COL_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="templateCode != null">
        #{templateCode,jdbcType=VARCHAR},
      </if>
      <if test="colName != null">
        #{colName,jdbcType=VARCHAR},
      </if>
      <if test="colExpr != null">
        #{colExpr,jdbcType=VARCHAR},
      </if>
      <if test="statFlag != null">
        #{statFlag,jdbcType=DECIMAL},
      </if>
      <if test="userFlag != null">
        #{userFlag,jdbcType=DECIMAL},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="orderby != null">
        #{orderby,jdbcType=DECIMAL},
      </if>
      <if test="showFlag != null">
        #{showFlag,jdbcType=DECIMAL},
      </if>
      <if test="showOrderby != null">
        #{showOrderby,jdbcType=DECIMAL},
      </if>
      <if test="colCode != null">
        #{colCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lecar.freecar.model.demo.TransportTruckInput">
    update T_AUTH_SYS_QUERY_TEMPLATE_COLS
    <set>
      <if test="templateCode != null">
        TEMPLATE_CODE = #{templateCode,jdbcType=VARCHAR},
      </if>
      <if test="colName != null">
        COL_NAME = #{colName,jdbcType=VARCHAR},
      </if>
      <if test="colExpr != null">
        COL_EXPR = #{colExpr,jdbcType=VARCHAR},
      </if>
      <if test="statFlag != null">
        STAT_FLAG = #{statFlag,jdbcType=DECIMAL},
      </if>
      <if test="userFlag != null">
        USER_FLAG = #{userFlag,jdbcType=DECIMAL},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="orderby != null">
        ORDERBY = #{orderby,jdbcType=DECIMAL},
      </if>
      <if test="showFlag != null">
        SHOW_FLAG = #{showFlag,jdbcType=DECIMAL},
      </if>
      <if test="showOrderby != null">
        SHOW_ORDERBY = #{showOrderby,jdbcType=DECIMAL},
      </if>
      <if test="colCode != null">
        COL_CODE = #{colCode,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lecar.freecar.model.demo.TransportTruckInput">
    update T_AUTH_SYS_QUERY_TEMPLATE_COLS
    set TEMPLATE_CODE = #{templateCode,jdbcType=VARCHAR},
      COL_NAME = #{colName,jdbcType=VARCHAR},
      COL_EXPR = #{colExpr,jdbcType=VARCHAR},
      STAT_FLAG = #{statFlag,jdbcType=DECIMAL},
      USER_FLAG = #{userFlag,jdbcType=DECIMAL},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      ORDERBY = #{orderby,jdbcType=DECIMAL},
      SHOW_FLAG = #{showFlag,jdbcType=DECIMAL},
      SHOW_ORDERBY = #{showOrderby,jdbcType=DECIMAL},
      COL_CODE = #{colCode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>